<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yole.smssdk">
    <uses-permission android:name="android.permission.SEND_SMS" />  <!--发送短信-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!--访问电话状态-->
</manifest>